<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kafedra_uchebnaya.Properties.Settings._21_101_05__Ucheba_studentov_ConnectionString"
            connectionString="Data Source=DESKTOP-Q2FHEGB;Initial Catalog='21.101-05-&quot;Ucheba studentov&quot;';Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>